<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>zz_popular</key>
	<dict>
		<key>toggles</key>
		<dict>
			<key>deals_filter</key>
			<string>Offering A Deal</string>
		</dict>
		<key>name</key>
		<string>Popular Filters</string>
	</dict>
	<key>sort</key>
	<dict>
		<key>options</key>
		<dict>
			<key>0</key>
			<string>Best Match</string>
			<key>1</key>
			<string>Distance</string>
			<key>2</key>
			<string>Highest Rated</string>
		</dict>
		<key>name</key>
		<string>Sort By</string>
	</dict>
	<key>radius_filter</key>
	<dict>
		<key>options</key>
		<dict>
			<key></key>
			<string>Any Distance</string>
			<key>160</key>
			<string>2 Blocks</string>
			<key>480</key>
			<string>6 Blocks</string>
			<key>1609</key>
			<string>1 Mile</string>
			<key>8046</key>
			<string>5 Miles</string>
		</dict>
		<key>name</key>
		<string>Distance</string>
	</dict>
</dict>
</plist>
